


{% extends 'artigos/layout.html' %}

{% block content %}
    <ul>
    {% for artigo in artigos %}
            <li>
                <a href="{% url 'artigos:detail_view' artigo.id %}">{{ artigo.post }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>List of Articles</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>List of Articles</h1>-->
<!--    <ul>-->
<!--        {% for artigo in artigos %}-->
<!--            <li>-->
<!--                <a href="{% url 'artigos:index_view' %}">{{ artigo.post }}</a>-->
<!--            </li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--</body>-->
<!--</html>-->
